#board {
    border: #bdbdbd solid 10px;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scoreAndNewGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#newGame {
    width: fit-content;
}

#gameInfo {
    height: 1rem;
}

#highscore {
    display: none;
}

#highscoreNumber {
    display: inline-block;
    width: 56px;
}

#gameInfo,
#scoreAndNewGame {
    margin: 0.5rem;
}

@media screen and (max-width: 490px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}
